pdfs/Burp[[:space:]]Suite[[:space:]]Cookbook[[:space:]]Practical[[:space:]]recipes[[:space:]]to[[:space:]]help[[:space:]]you[[:space:]]master[[:space:]]web[[:space:]]penetration[[:space:]]testing[[:space:]]with[[:space:]]Burp[[:space:]]Suite[[:space:]]by[[:space:]]Sunny[[:space:]]Wear.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/Hands-On[[:space:]]Red[[:space:]]Team[[:space:]]Tactics[[:space:]]by[[:space:]]Himanshu[[:space:]]Sharma[[:space:]]and[[:space:]]Harpreet[[:space:]]Singh.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/Offensive[[:space:]]Security[[:space:]]OSCP.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/Offensive[[:space:]]Security.[[:space:]]Wireless[[:space:]]Attacks[[:space:]]-[[:space:]]WiFu[[:space:]]v.[[:space:]]3.0.pdf filter=lfs diff=lfs merge=lfs -text
